@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --font: "Kanit", sans-serif;
}
* {
    margin: 0%;
    padding: 0%;
}
body {
    background-image: url(https://img.freepik.com/free-vector/realistic-style-technology-particle-background_23-2148426704.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.main {grid-area: main;}
.footer {grid-area: footer;}

.grid-container {
    display: grid;
    height: 100dvh;
    grid-template-areas: 
    "main main main"
    "main main main"
    "footer footer footer";
}
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    height: 80dvh;
}
.username{
    border: 1px solid;
    border-radius: 5px;
    font-size: 30px;
}
input {
    border: 0;
    background-color:transparent;
    font-size: 30px;
    outline: none;
}
.title {
    color: #ffff;
    font-family: var(--font) ;
    font-size: 50px;
}
.footer {
    height: 20dvh;
}
